<footer class="page-footer">
    <div class="container">
        <div class="page-footer__content">
            <div class="page-footer__images-rows">
                <div class="page-footer__images-row">
                    <div class="page-footer__image-card">
                        <img src="img/footer/1.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/2.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/3.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/4.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/5.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/6.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/7.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/8.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/1.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/2.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/3.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/4.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/5.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/6.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/7.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/8.jpg" alt="" class="page-footer__image">
                    </div>

                </div>
                <div class="page-footer__images-row">
                    <div class="page-footer__image-card">
                        <img src="img/footer/1.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/2.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/4.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/6.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/5.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/3.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/9.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/7.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/1.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/2.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/4.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/6.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/5.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/3.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/9.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/7.jpg" alt="" class="page-footer__image">
                    </div>
                </div>
                <div class="page-footer__images-row">
                    <div class="page-footer__image-card">
                        <img src="img/footer/3.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/2.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/9.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/10.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/7.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/6.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/5.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/8.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/3.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/2.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/9.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/10.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/7.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/6.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/5.jpg" alt="" class="page-footer__image">
                    </div>
                    <div class="page-footer__image-card">
                        <img src="img/footer/8.jpg" alt="" class="page-footer__image">
                    </div>

                </div>
            </div>
            <div class="page-footer__overlay"></div>
            <div class="page-footer__inner-content">
                <div class="ticker page-footer__ticker js-ticker">
                    <div class="ticker__track">
                        <div class="ticker__inner-track">
                            <div class="ticker__item">
                                MINT NFT&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-footer__bottom-row">
                    <div class="page-footer__copyright">
                        Copyright © 2022
                    </div>
                    <div class="page-footer__rights">
                        All rights reserved
                    </div>
                    <a href="#" class="page-footer__made-by">
                        Создание сайта
                        <img src="img/aquilamedia.svg" alt="" class="page-footer__made-by-image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>