<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <a href="/" class="page-header__logo">
                <img src="img/logo.png" alt="" class="page-header__logo-image" />
            </a>
            <div class="page-header__menu">


                <nav class="page-header__nav">
                    <ul class="page-header__nav-list">
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link"> Home </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link"> View Collection </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link"> Merch Store </a>
                        </li>
                    </ul>
                </nav>
                <div class="page-header__contacts">
                    <div class="page-header__languages">
                        <a href="#" class="page-header__languages-link active"> en </a>
                        <a href="#" class="page-header__languages-link"> RU </a>
                    </div>
                    <a href="#" class="page-header__callback-btn">
                        <div class="page-header__callback-btn-text">
                            MINT NFT
                        </div>
                    </a>
                </div>
            </div>
            <button class="page-header__burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>