{{#extend "layout"}}
{{#content "main"}}


<section class="intro">
    <div class="container">
        <div class="intro__content">
            <div class="intro__text">
                <span class="intro__text-gradient">
                    Friendly
                </span>

                Samoyed
            </div>
            <ul class="intro__social-list">
                <li class="intro__social-list-item">
                    <a href="#" class="intro__social-link">
                        telegram
                    </a>
                </li>
                <li class="intro__social-list-item">
                    <a href="#" class="intro__social-link">
                        instagram
                    </a>
                </li>
                <li class="intro__social-list-item">
                    <a href="#" class="intro__social-link">
                        twitter
                    </a>
                </li>
                <li class="intro__social-list-item">
                    <a href="#" class="intro__social-link">
                        discord
                    </a>
                </li>
            </ul>
            <div class="intro__slogan">
                invite more friends = earn more usdt
            </div>
            <div class="intro__image-wrapper">
                <img src="img/intro-pattern.png" alt="" class="intro__image-pattern">
                <img src="img/samoyed.png" alt="" class="intro__image-dog">
            </div>
        </div>
    </div>
</section>


<section class="story">
    <div class="container">
        <div class="story__top-row">
            <div class="story__left-col">
                <h2 class="story__heading">
                    Story
                </h2>
                <div class="story__heading-text">
                    Thats how this story begins
                </div>
                <div class="story__image-container">
                    <div class="story__image-container-inner">
                        <img src="img/samoyed-story.png" alt="" class="story__image">
                    </div>
                    <img src="img/samoyed-dialog.svg" alt="" class="story__image-dialog">
                </div>
            </div>
            <div class="story__right-col">
                <div class="story__text">
                    <p>
                        Friendly Samoyeds are kind and loyal to their owner, but despite this they are very playful and
                        sometimes like to do all sorts of dirty tricks. Our heroes are ICE and SNEZHA, one day they
                        stole their owner’s car and went on a journey.
                    </p>
                    <p>
                        ICE often watched the Discovery Channel with his owner and his dream was to get to Hawaii with
                        his girlfriend. Putting on a Hawaiian shirt and took the situation into his own paws and they
                        set off on a hijacked car, because it was the case without preparation, as usually it happens,
                        they got lost and ended up in Arctic.
                    </p>
                </div>
                <a href="#" class="story__link">
                    Read more
                </a>
            </div>
        </div>
        <div class="story__bottom-text">
            <p>
                By minting one ore few NFTs from this collection you can help them return home, accelerating their
                progress in the Decentraland metaverse. Their mission is to bring fun and make people smile. Therefore,
                it is very important to return them home, to their loved ones and without your help it will be
                impossible.
            </p>
            <p>
                Since Samoyeds are very friendly and love to share everything they have with everyone around them, part
                of the funds raised with minting will go straight to help homeless animals who are left alone on the
                street without their owners.
            </p>
        </div>
    </div>
</section>


<section class="video">
    <a href="assets/video/video.mp4" class="video__link" data-fancybox="">
        <div class="video__preview-wrapper">
            <img src="img/video-preview.jpg" alt="" class="video__preview-image">
        </div>
        <div class="video__controls">
            <div class="container">
                <div class="video__controls-inner">


                    <div class="video__play">
                        <svg width="14" height="14" aria-hidden="true" class="icon-play">
                            <use xlink:href="#play"></use>
                        </svg>
                        play
                    </div>
                    <div class="video__duration">
                        00:35
                    </div>
                </div>
            </div>

        </div>
    </a>
</section>


<section class="roadmap js-roadmap">
    <div class="container">
        <h2 class="roadmap__heading">
            Roadmap
        </h2>
        <div class="roadmap__heading-text">
            Нажми на любой пункт, чтобы узнать больше
        </div>
        <div class="roadmap__mountains">
            <div class="roadmap__mountains-image-wrapper">
                <img src="img/roadmap-mountains.png" alt="" class="roadmap__mountains-image">
                <div class="roadmap__mountains-path-wrapper">
                    <img src="img/mountains-path.svg" alt="" class="roadmap__mountains-path">
                    <div class="roadmap__mountains-points">
                        <a href="#" class="roadmap__mountains-point" style="top: 87%; left: 4.3%;">
                            <div class="roadmap__mountains-point-icon">
                                <div class="roadmap__mountains-point-icon-inner">

                                </div>
                            </div>
                            <div class="roadmap__mountains-point-content">
                                <div class="roadmap__mountains-point-role">
                                    Start of the development &mint
                                </div>
                                <div class="roadmap__mountains-point-title">
                                    Путь домой
                                </div>
                            </div>
                        </a>
                        <a href="#" class="roadmap__mountains-point" style="top: 83.8%; left: 40%;">
                            <div class="roadmap__mountains-point-icon">
                                <div class="roadmap__mountains-point-icon-inner" style="background: #2B3A7B;">

                                </div>
                            </div>
                            <div class="roadmap__mountains-point-content">
                                <div class="roadmap__mountains-point-role">
                                    Earning, payouts&buyouts
                                </div>
                                <div class="roadmap__mountains-point-title">
                                    Возвращение
                                </div>
                            </div>
                        </a>
                        <a href="#" class="roadmap__mountains-point" style="top: 40.5%; left: 73%;">
                            <div class="roadmap__mountains-point-icon">
                                <div class="roadmap__mountains-point-icon-inner" style="background: #263376;">

                                </div>
                            </div>
                            <div class="roadmap__mountains-point-content roadmap__mountains-point-content--bottom">
                                <div class="roadmap__mountains-point-role">
                                    Metaverse&Play 2Earn
                                </div>
                                <div class="roadmap__mountains-point-title">
                                    Мы Дома
                                </div>
                            </div>
                        </a>
                        <a href="#" class="roadmap__mountains-point" style="top: 0%; left: 91.7%;">
                            <div class="roadmap__mountains-point-icon">
                                <div class="roadmap__mountains-point-icon-inner" style="background: #263376;">

                                </div>
                            </div>
                            <div class="roadmap__mountains-point-content roadmap__mountains-point-content--left">
                                <div class="roadmap__mountains-point-role">
                                    Metaverse&Play 2Earn
                                </div>
                                <div class="roadmap__mountains-point-title">
                                    Дом милый дом
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="roadmap__mountains-tabs">



                <div class="roadmap__mountains-tab">
                    <div class="roadmap__mountains-tab-inner">
                        <button class="roadmap__mountains-tab-close">
                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </button>
                        <div class="roadmap__mountains-tab-top-row">
                            <div class="roadmap__mountains-tab-info">
                                <div class="roadmap__mountains-tab-role">
                                    Start of the development &mint
                                </div>
                                <div class="roadmap__mountains-tab-title">
                                    Путь домой
                                </div>
                            </div>
                            <div class="roadmap__mountains-tab-date">
                                <svg width="14" height="14" aria-hidden="true" class="icon-calendar">
                                    <use xlink:href="#calendar"></use>
                                </svg>
                                Cентябрь 2022
                            </div>
                        </div>
                        <ol class="roadmap__mountains-list">
                            <li class="roadmap__mountains-list-item">
                                <div class="roadmap__mountains-card">
                                    <b>Выполни задания на <a href="#">gleam.io,</a></b> чтобы попасть в White List и
                                    быть
                                    одним из первых
                                    покупателей NFT Дружественных самоедов
                                </div>
                            </li>
                            <li class="roadmap__mountains-list-item">
                                <div class="roadmap__mountains-card">
                                    <b>Публичный минт.</b> Начать чеканку первой серии дружелюбных самоедов в 1000
                                </div>
                            </li>
                            <li class="roadmap__mountains-list-item">
                                <div class="roadmap__mountains-card">
                                    <b>Веб-платформа,</b> социальные каналыи компоненты WEB3
                                </div>
                            </li>
                            <li class="roadmap__mountains-list-item">
                                <div class="roadmap__mountains-card">
                                    <a href="#">Розыгрыш 200 000 $</a> среди держателей5 NFT самоедов
                                </div>
                            </li>
                            <li class="roadmap__mountains-list-item">
                                <div class="roadmap__mountains-card">
                                    <b>Розыгрыш 3D Дружественного самоеда,</b> персонажа из предстоящей игры Play2Earn
                                    среди держателй 4 NFT дружественного самоеда
                                </div>
                            </li>
                            <li class="roadmap__mountains-list-item">
                                <div class="roadmap__mountains-card">
                                    <b>Розыгрыш среди держателей 3 NFT</b> самоедов, различных мерчей с кепкамии
                                    суперприз: реальная статуя дружественного самоеда высотой 450 мм
                                </div>
                            </li>
                            <li class="roadmap__mountains-list-item">
                                <div class="roadmap__mountains-card">
                                    <b>Подведение итогов.</b> Благотворительный фонд в поддержку бездомных животных
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="roadmap__mountains-tab">
                    <div class="roadmap__mountains-tab-inner">
                        <button class="roadmap__mountains-tab-close">
                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </button>
                        <div class="roadmap__mountains-tab-top-row">
                            <div class="roadmap__mountains-tab-info">
                                <div class="roadmap__mountains-tab-role">
                                    Earning, payouts&buyouts
                                </div>
                                <div class="roadmap__mountains-tab-title">
                                    Возвращение
                                </div>
                            </div>
                            <div class="roadmap__mountains-tab-date">
                                <svg width="14" height="14" aria-hidden="true" class="icon-calendar">
                                    <use xlink:href="#calendar"></use>
                                </svg>
                                Cентябрь 2022
                            </div>
                        </div>
                        <ol class="roadmap__mountains-list">
                            <li class="roadmap__mountains-list-item">
                                <div class="roadmap__mountains-card">
                                    <b>Выполни задания на <a href="#">gleam.io,</a></b> чтобы попасть в White List и
                                    быть
                                    одним из первых
                                    покупателей NFT Дружественных самоедов
                                </div>
                            </li>
                            <li class="roadmap__mountains-list-item">
                                <div class="roadmap__mountains-card">
                                    <b>Публичный минт.</b> Начать чеканку первой серии дружелюбных самоедов в 1000
                                </div>
                            </li>
                            <li class="roadmap__mountains-list-item">
                                <div class="roadmap__mountains-card">
                                    <b>Веб-платформа,</b> социальные каналыи компоненты WEB3
                                </div>
                            </li>
                            <li class="roadmap__mountains-list-item">
                                <div class="roadmap__mountains-card">
                                    <a href="#">Розыгрыш 200 000 $</a> среди держателей5 NFT самоедов
                                </div>
                            </li>
                            <li class="roadmap__mountains-list-item">
                                <div class="roadmap__mountains-card">
                                    <b>Розыгрыш 3D Дружественного самоеда,</b> персонажа из предстоящей игры Play2Earn
                                    среди держателй 4 NFT дружественного самоеда
                                </div>
                            </li>
                            <li class="roadmap__mountains-list-item">
                                <div class="roadmap__mountains-card">
                                    <b>Розыгрыш среди держателей 3 NFT</b> самоедов, различных мерчей с кепкамии
                                    суперприз: реальная статуя дружественного самоеда высотой 450 мм
                                </div>
                            </li>
                            <li class="roadmap__mountains-list-item">
                                <div class="roadmap__mountains-card">
                                    <b>Подведение итогов.</b> Благотворительный фонд в поддержку бездомных животных
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="roadmap__mountains-tab">
                    <div class="roadmap__mountains-tab-inner">
                        <button class="roadmap__mountains-tab-close">
                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </button>
                        <div class="roadmap__mountains-tab-top-row">
                            <div class="roadmap__mountains-tab-info">
                                <div class="roadmap__mountains-tab-role">
                                    Metaverse&Play 2Earn
                                </div>
                                <div class="roadmap__mountains-tab-title">
                                    Мы Дома
                                </div>
                            </div>
                            <div class="roadmap__mountains-tab-date">
                                <svg width="14" height="14" aria-hidden="true" class="icon-calendar">
                                    <use xlink:href="#calendar"></use>
                                </svg>
                                Cентябрь 2022
                            </div>
                        </div>
                        <ol class="roadmap__mountains-list">
                            <li class="roadmap__mountains-list-item">
                                <div class="roadmap__mountains-card">
                                    <b>Выполни задания на <a href="#">gleam.io,</a></b> чтобы попасть в White List и
                                    быть
                                    одним из первых
                                    покупателей NFT Дружественных самоедов
                                </div>
                            </li>
                            <li class="roadmap__mountains-list-item">
                                <div class="roadmap__mountains-card">
                                    <b>Публичный минт.</b> Начать чеканку первой серии дружелюбных самоедов в 1000
                                </div>
                            </li>
                            <li class="roadmap__mountains-list-item">
                                <div class="roadmap__mountains-card">
                                    <b>Веб-платформа,</b> социальные каналыи компоненты WEB3
                                </div>
                            </li>
                            <li class="roadmap__mountains-list-item">
                                <div class="roadmap__mountains-card">
                                    <a href="#">Розыгрыш 200 000 $</a> среди держателей5 NFT самоедов
                                </div>
                            </li>
                            <li class="roadmap__mountains-list-item">
                                <div class="roadmap__mountains-card">
                                    <b>Розыгрыш 3D Дружественного самоеда,</b> персонажа из предстоящей игры Play2Earn
                                    среди держателй 4 NFT дружественного самоеда
                                </div>
                            </li>

                        </ol>
                    </div>
                </div>
                <div class="roadmap__mountains-tab">
                    <div class="roadmap__mountains-tab-inner">
                        <button class="roadmap__mountains-tab-close">
                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </button>
                        <div class="roadmap__mountains-tab-top-row">
                            <div class="roadmap__mountains-tab-info">
                                <div class="roadmap__mountains-tab-role">
                                    Metaverse&Play 2Earn
                                </div>
                                <div class="roadmap__mountains-tab-title">
                                    Дом милый дом
                                </div>
                            </div>
                            <div class="roadmap__mountains-tab-date">
                                <svg width="14" height="14" aria-hidden="true" class="icon-calendar">
                                    <use xlink:href="#calendar"></use>
                                </svg>
                                Cентябрь 2022
                            </div>
                        </div>
                        <ol class="roadmap__mountains-list">
                            <li class="roadmap__mountains-list-item">
                                <div class="roadmap__mountains-card">
                                    <b>Выполни задания на <a href="#">gleam.io,</a></b> чтобы попасть в White List и
                                    быть
                                    одним из первых
                                    покупателей NFT Дружественных самоедов
                                </div>
                            </li>
                            <li class="roadmap__mountains-list-item">
                                <div class="roadmap__mountains-card">
                                    <b>Публичный минт.</b> Начать чеканку первой серии дружелюбных самоедов в 1000
                                </div>
                            </li>
                            <li class="roadmap__mountains-list-item">
                                <div class="roadmap__mountains-card">
                                    <b>Веб-платформа,</b> социальные каналыи компоненты WEB3
                                </div>
                            </li>

                        </ol>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="collection">
    <div class="container">
        <h2 class="collection__heading">
            Meet our collection of 10k unique Friendly Samoyeds
        </h2>
        <ul class="collection__list">
            <li class="collection__list-item">
                <div class="collection__card">
                    <div class="collection__card-image-container">
                        <img src="img/collection/1.gif" alt="" class="collection__card-image">
                    </div>
                </div>
            </li>
            <li class="collection__list-item">
                <div class="collection__card">
                    <div class="collection__card-image-container">
                        <img src="img/collection/2.gif" alt="" class="collection__card-image">
                    </div>
                </div>
            </li>
            <li class="collection__list-item">
                <div class="collection__card">
                    <div class="collection__card-image-container">
                        <img src="img/collection/3.gif" alt="" class="collection__card-image">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="giveaway">
    <div class="container">
        <div class="giveaway__content">


            <h2 class="giveaway__heading">
                Mega giveaway!
            </h2>
            <div class="giveaway__prize">
                <div class="giveaway__prize-text">
                    200 000 $ <br>GIFT!
                </div>

                <div class="giveaway__prize-currency">
                    (USDT)
                </div>
            </div>
            <div class="giveaway__rules">
                <div class="giveaway__rules-image-container">
                    <video src="assets/video/rules-video.mp4" playsinline="" autoplay="" muted="" loop=""></video>
                </div>
                <div class="giveaway__rules-content">
                    <div class="giveaway__rules-large-text">
                        We will give away special USD prizes to 7 random winners. Issue and hold 5 NFTs to participate
                        until the draw date. The date of the draw will be announced on our website and social networks
                        after the collection is complete.
                    </div>
                    <div class="giveaway__rules-small-text">
                        But that's not all! In the second round, the first 7 special NFTs from our next 3D Metaverse
                        collection will be up for grabs for you to use in Decentraland.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="team">
    <div class="container">
        <div class="team__row">
            <h2 class="team__heading">
                Team
            </h2>
            <ul class="team__list">
                <li class="team__list-item">
                    <div class="team__card">
                        <div class="team__card-image-container">
                            <img src="img/team/1.jpg" alt="" class="team__card-image">
                        </div>
                        <h3 class="team__card-title">
                            Roman
                        </h3>
                        <div class="team__card-role">
                            Boss
                        </div>
                    </div>
                </li>
                <li class="team__list-item">
                    <div class="team__card">
                        <div class="team__card-image-container">
                            <img src="img/team/2.jpg" alt="" class="team__card-image">
                        </div>
                        <h3 class="team__card-title">
                            Rich
                        </h3>
                        <div class="team__card-role">
                            CFO
                        </div>
                    </div>
                </li>
                <li class="team__list-item">
                    <div class="team__card">
                        <div class="team__card-image-container">
                            <img src="img/team/3.jpg" alt="" class="team__card-image">
                        </div>
                        <h3 class="team__card-title">
                            Dan
                        </h3>
                        <div class="team__card-role">
                            Designer
                        </div>
                    </div>
                </li>
                <li class="team__list-item">
                    <div class="team__card">
                        <div class="team__card-image-container">
                            <img src="img/team/4.jpg" alt="" class="team__card-image">
                        </div>
                        <h3 class="team__card-title">
                            Arnie
                        </h3>
                        <div class="team__card-role">
                            Blockchain Developer+ Programming
                        </div>
                    </div>
                </li>
                <li class="team__list-item">
                    <div class="team__card">
                        <div class="team__card-image-container">
                            <img src="img/team/5.jpg" alt="" class="team__card-image">
                        </div>
                        <h3 class="team__card-title">
                            Molly
                        </h3>
                        <div class="team__card-role">
                            SMM manager
                        </div>
                    </div>
                </li>
                <li class="team__list-item">
                    <div class="team__card">
                        <div class="team__card-image-container">
                            <img src="img/team/6.jpg" alt="" class="team__card-image">
                        </div>
                        <h3 class="team__card-title">
                            Ada
                        </h3>
                        <div class="team__card-role">
                            Copywriter, SMM manager
                        </div>
                    </div>
                </li>
                <li class="team__list-item">
                    <div class="team__card">
                        <div class="team__card-image-container">
                            <img src="img/team/7.jpg" alt="" class="team__card-image">
                        </div>
                        <h3 class="team__card-title">
                            Wendy
                        </h3>
                        <div class="team__card-role">
                            Artist
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="features">
    <div class="container">
        <div class="features__top-row">
            <h2 class="features__heading">
                Features
            </h2>
            <div class="features__text">
                YOU CAN WIN RIGHT AFTER YOU MINT
            </div>
        </div>
        <ul class="features__list">
            <li class="features__list-item">
                <div class="features__card">
                    <img src="img/features/1.svg" alt="" class="features__card-icon">
                    <h3 class="features__card-title">
                        Price grows up as fast as you buy
                    </h3>
                    <div class="features__card-text">
                        <p>
                            From the first mint price to the next token will be increasing automatically, every time
                            while sold out.
                        </p>
                    </div>
                </div>
            </li>
            <li class="features__list-item">
                <div class="features__card">
                    <img src="img/features/2.svg" alt="" class="features__card-icon">
                    <h3 class="features__card-title">
                        Random winner with every mint
                    </h3>
                    <div class="features__card-text">
                        <p>
                            Every time when mint happens the smart-contract choosing the random winner from NFT holders
                            to send him 10% of current mint price immediately.
                        </p>
                    </div>
                </div>
            </li>
            <li class="features__list-item">
                <div class="features__card">
                    <img src="img/features/3.svg" alt="" class="features__card-icon">
                    <h3 class="features__card-title">
                        Epic tokens buyout
                    </h3>
                    <div class="features__card-text">
                        <p>
                            There are 10 special epic Samoyeds NFTs hidden in this collection & after sold out we’ll
                            buyout this tokens for 1000$ price.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>




{{/content}}
{{/extend}}